.lyrics {
    background-color: rgba(255, 255, 255, 0.2);
}

.lyrics1 {
    font-size: 30pt;
}

.lyrics1NotCurrent {
    color: blueviolet;
}

.lyrics1Current {
}

.lyrics2 {
    /*color: #111111;*/
    font-size: 23pt;
}
